{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{# Translators: msg of title of Login page #}
{% block title %}{% translate "Login" %}{% endblock %}
{% block content %}
{# Translators: msg of header of Login page #}
<h1>{% translate "Login" %}</h1>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {# Translators: msg of button of Login form #}
    <button type="submit" class="btn btn-primary">{% translate "Login" %}</button>

</form>

<!-- {% if form.errors %}
    <div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Invalid username or password
    </div>
{% endif %} -->
{% endblock %}
