{% load i18n %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% bootstrap_css %}
    <style>
        .content-wrapper {
            max-width: 80%; /* Or your desired maximum width */
            margin-left: auto;
            margin-right: auto;
            /* Optional: Set a specific width if needed, e.g., width: 90%; */
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="content-wrapper">
{% block content %}{% endblock %}
</div>
{% bootstrap_javascript %}
</body>
</html>