<nav aria-label="Main navigation">
    <ul>
        <li><a href="{% url 'article-list' %}">Home</a></li>
        <li><a href="{% url 'my-articles' %}">My Articles</a></li>
        <li id="auth-li">
            {% if user.is_authenticated %}
            <div>{{ user.username }}</div>
            <form action="{% url 'logout-view' %}" method="post">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
            {% else %}
                <a href="{% url 'login-view' %}">login</a> 
            {% endif %}
        </li>
    </ul>
</nav>