{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
{% if user.is_authenticated %}
    {% if already_favourite %}
    {# Translators: text shown on an article card to indicate that the post is marked as favourite. #}
    <p>⭐ {% translate "Already in favourites" %}</p>
    {% else %}
    <form action="{% url 'add-favourite' article.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-link link-warning m-2" style="border: none;" >{% translate "Add to favourites" %}</button>
    </form>
    {% endif %}
{% endif %}
{% endblock %}
