{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{# Translators: Article Detail page title block msg #}
{% block title %}{% translate "Article Detail" %}{% endblock %}
{% block content %}
<div class="card border-info m-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <strong>{% translate "Author:" %}</strong> {{ article.author }}
    ||
    <strong>{% translate "Published:" %}</strong> {{ article.created|date:"Y-m-d H:i" }}
    {% if already_favourite %}
    ||
    {# Translators: Label on article card indicating a favourite post. #}
    <span class="badge bg-dark text-warning">⭐ {% translate "Favourite" %}</span>
    {% endif %}
    </div>
  <div class="card-body">
    <h4 class="card-title">{{ article.title }}</h4>
    <p class="card-text">{{ article.content }}</p>
  </div>
  {% if user.is_authenticated %}
      {% if not already_favourite %}
      <form action="{% url 'add-favourite' article.pk %}" method="post">
          {% csrf_token %}
          {% bootstrap_form add_favourite_form %}
          <button type="submit" class="btn btn-link link-warning m-2" style="border: none;" >{% translate "Add to favourites" %}</button>
      </form>
      {% endif %}
  {% endif %}
</div>
{% endblock %}
