{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
{% if user.is_authenticated %}
    {% if already_favourite %}
        <p>⭐ Already in favourites</p>
    {% else %}
        <form action="{% url 'add-favourite' article.pk %}" method="post">
            {% csrf_token %}
            {{ add_favourite_form.as_p }}
            <button type="submit">Add to favourites</button>
        </form>
    {% endif %}
{% endif %}
<p><strong>Author:</strong> {{ article.author }}</p>
<p><strong>Published:</strong> {{ article.created|date:"Y-m-d H:i" }}</p>
<div>
    {{ article.content }}
</div>

<hr>
<a href="javascript:history.back()">Back to list</a>
{% endblock %}
