{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load random_table_color_class %}
{# Translators: Article List page title block msg #}
{% block title %}{% translate "All Articles" %}{% endblock %}
{% block content %}
{# Translators: Article List page Header block msg #}
<h1>{% translate "All Articles" %}</h1>
{# Translators: msg of link to new article creating page #}
<h2><a href="{% url 'publish' %}" class="link">{% translate "Create Article" %}</a></h2>
<table border="1" cellpadding="5" cellspacing="0" class="table table-hover">
    <thead>
        <tr>
            {# Translators: Table headers #}
            <th scope="col">{% translate "Title" %}</th>
            <th scope="col">{% translate "Author" %}</th>
            <th scope="col">{% translate "Created" %}</th>
            <th scope="col">{% translate "Published" %}</th>
            <th scope="col">{% translate "Synopsis" %}</th>
            <th scope="col">{% translate "Detail" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="{{ article.id|deterministic_class }} ">
            <td>{{ article.title }}</td>
            <td>{{ article.author.username }}</td>
            <td>{{ article.created }}</td>
            {# Translators: Relative time suffix. Example: "2 hours ago" #}
            <td>{{ article.created|timesince }} {% translate "ago" %}</td>
            <td>{{ article.synopsis|truncatechars:20 }}</td>
            {# Translators: Detail button msg in table #}
            <td><a href="{% url 'article-detail' article.pk %}" title="View Details" class="text-dark" >{% translate "Detail" %}</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-info-emphasis">{% translate "No articles found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
