{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load random_table_color_class %}
{% block title %}All articles{% endblock %}
{% block content %}
<h1>All Articles</h1>
<h2><a href="{% url 'publish' %}" class="link">Create Article</a></h2>
<table border="1" cellpadding="5" cellspacing="0" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Created</th>
            <th scope="col">Published</th>
            <th scope="col">Synopsis</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="{{ article.id|deterministic_class }} ">
            <td>{{ article.title }}</td>
            <td>{{ article.author.username }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.created|timesince }} ago</td>
            <td>{{ article.synopsis|truncatechars:20 }}</td>
            <td><a href="{% url 'article-detail' article.pk %}" title="View Details" class="link-dark">Detail</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-info-emphasis">No articles found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
