<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Articles</title>
</head>
<body>
    <h1>All Articles</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Synopsis</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.created }}</td>
                <td>{{ article.synopsis }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No articles found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
