{% extends 'base.html' %}
{% load i18n %}
{# Translators: msg of title of current user articles page #}
{% block title %}>{% translate "My Articles" %}{% endblock %}

{% block content %}
<h1>
    {# Translators: msg block of header of current user articles page #}
    {% blocktranslate with username=user.username %}
        <strong class="text-primary">{{ username }}</strong>'s Articles
    {% endblocktranslate %}
</h1>
<table border="1" cellpadding="5" cellspacing="0" class="table table-hover">
    <thead>
        <tr>
            {# Translators: Table headers #}
            <th scope="col">{% translate "Title" %}</th>
            <th scope="col">{% translate "Author" %}</th>
            <th scope="col">{% translate "Created" %}</th>
            <th scope="col">{% translate "Published" %}</th>
            <th scope="col">{% translate "Synopsis" %}</th>
            <th scope="col">{% translate "Detail" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="table-active">
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.created }}</td>
            {# Translators: Relative time suffix. Example: "2 hours ago" #}
            <td>{{ article.created|timesince }} {% translate "ago" %}</td>
            <td>{{ article.synopsis|truncatechars:20 }}</td>
            {# Translators: Detail button msg in table #}
            <td><a href="{% url 'article-detail' article.pk %}" title="View Details" class="text-info" >{% translate "Detail" %}</a></td>
        </tr>
        {% empty %}
        <tr class="table-dark">
            <td colspan="6" class="text-info-emphasis">{% translate "No articles found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
