{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{# Translators: title block msg #}
{% block title %}{% translate "New Article" %}{% endblock %}
{% block content %}
{# Translators: header block msg #}
<h1>{% translate "New Article" %}</h1>
<form action="{% url 'publish' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {# Translators: btn msg content of article publish page form #}
    <button type="submit" class="btn btn-primary">{% translate "Publish" %}</button>
</form>
{% endblock %}
