<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Movie To Update</title>
</head>
<body>
    {% if msg %}
    <h1 style="color: #3c3;">{{ msg }}</h1>
    <hr>
    {% endif %}
    <form action="{% url 'update_movie_06' %}" method="POST">
        {% csrf_token %}
        {{ form.movie.label_tag }} {{ form.movie }}
        {{ form.opening_crawl.label_tag }} {{ form.opening_crawl }}
        <input type="submit" value="update">
    </form>
</body>
</html>