{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EX02</title>
    <link rel="stylesheet" href="{% static 'ex02_index.css' %}">
</head>
<body>
    <form action="{% url 'add_history' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% for entry in history %}
        <p>{{ entry|escape }}</p>
    {% endfor %}
</body>
</html>